@CHARSET "UTF-8";

/* http://designshack.net/articles/css/verticalaccordionav/ */
nav, h4, li, a, ul {
	margin: 0px;
	padding: 0px;
	text-align: left;
}

nav {
	position: fixed;
	left: 0px;
	top: 150px;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.5;
	/*   margin: 50px auto; for display only */
	width: 200px;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-item {
	background: #fff;
	width: 200px;
	cursor: pointer;
}

/*Menu Header Styles*/
.menu-item h4 {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	padding: 7px 12px;
	background: lightblue;
}

.menu-item h4 a {
	color: black;
	display: block;
	text-decoration: none;
	width: 200px;
}

/*Menu Header Styles*/
.menu-item h4 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	color: black;
	font-size: 15px;
	font-weight: 500;
	padding: 7px 12px;
	/*Gradient*/
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top, lightblue 0%, #8CEDFF 44%, #76CEDF 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, lightblue
		), color-stop(44%, #8CEDFF), color-stop(100%, #76CEDF));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, lightblue 0%, #8CEDFF 44%, #76CEDF 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, lightblue 0%, #8CEDFF 44%, #76CEDF 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, lightblue 0%, #8CEDFF 44%, #76CEDF 100%);
	/* IE10+ */
	background: linear-gradient(top, lightblue 0%, #8CEDFF 44%, #76CEDF 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lightblue',
		endColorstr='#76CEDF', GradientType=0); /* IE6-9 */
}

.menu-item h4:hover {
	background: #cc002c; /* Old browsers */
	background: -moz-linear-gradient(top, lightblue 0%, #5FADBC 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, lightblue
		), color-stop(100%, #5FADBC)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, lightblue 0%, #5FADBC 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, lightblue 0%, #5FADBC 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, lightblue 0%, #5FADBC 100%);
	/* IE10+ */
	background: linear-gradient(top, lightblue 0%, #5FADBC 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lightblue',
		endColorstr='#5FADBC', GradientType=0); /* IE6-9 */
}

/*First Item Styles*/
.alpha p {
	cursor: default;
	font-size: 13px;
	padding: 8px 12px;
	color: #848484;
}

/*ul Styles*/
.menu-item ul {
	background: #fff;
	font-size: 13px;
	line-height: 30px;
	height: 0px; /*Collapses the menu*/
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	/*Animation*/
	-webkit-transition: height 1s ease;
	-moz-transition: height 1s ease;
	-o-transition: height 1s ease;
	-ms-transition: height 1s ease;
	transition: height 1s ease;
}

.menu-item ul a {
	margin-left: 20px;
	text-decoration: none;
	color: black;
	display: block;
	width: 200px;
}

/*li Styles*/
.menu-item li {
	border-bottom: 1px solid #eee;
}

.menu-item li:hover {
	background: lightblue;
}

.menu-item:hover ul {
	height: 93px;
}